includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	#- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8
	paths:
		- src

	ignoreErrors:
		-
			message:
				"""
					#^Fetching class constant class of deprecated class Doctrine\\\\DBAL\\\\Tools\\\\Console\\\\Helper\\\\ConnectionHelper\\:
					use a ConnectionProvider instead\\.$#
				"""
			count: 1
			path: src/DI/DbalConsoleExtension.php

		-
			message: "#^Parameter \\#1 \\$argument of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/DI/DbalExtension.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\{object, 'getSubscribedEvents'\\} given\\.$#"
			count: 1
			path: src/DI/DbalExtension.php

		-
			message: "#^Method Nettrine\\\\DBAL\\\\Events\\\\ContainerAwareEventManager\\:\\:getInitializedListeners\\(\\) should return array\\<object\\> but returns array\\<object\\|string\\>\\.$#"
			count: 2
			path: src/Events/ContainerAwareEventManager.php

